* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

.header{
    text-align: center;
    padding: 0 20px;
    background: rgb(180, 16, 16);
    border-bottom: 1px solid black;
}

.header__title{
    font-size: 3.4rem;
    padding: 20px 0;
    color: #FFF;
    line-height: 3.6rem;
    font-weight: bolder;
}

.header__text{
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: rgb(211, 211, 211);
    padding-bottom: 20px;
}

.main__calculator{
    background-color: rgb(240, 240, 240);
    padding: 25px 15px;
}

.calculator-title{
    font-size: 2rem;
    line-height: 1.8rem;
    font-weight: 500;
    padding-bottom: 25px;
    text-align: center;
    color: rgb(37, 37, 37);
}

.calculator-container{
    display: flex;
    max-width: 330px;
    min-width: 250px;
    margin: 0 auto;
    flex-direction: column;
    gap: 15px;
}

.calculator-container form{
    display: flex;
    height: auto;
    min-width: 250px;
    max-width: 320px;
    flex-direction: column;
    gap: 15px;
    padding: 10px 20px;
    border: 1px solid rgb(216, 216, 216);
    background-color: #FFF;
    box-shadow: 0 4px 8px 0 rgba(89, 73, 30, .16);
}

.calculator-container input{
    border-radius: 5px;
    border: 1px solid rgb(37, 37, 37);
    max-width: 300px;
    min-width: 200px;
    padding: 7px 5px;
}

.calculator-container label{
    text-align: center;
    max-width: 300px;
    padding-bottom: 40px;
    padding-top: 10px;
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 700;
    color: rgb(37, 37, 37);
}

.calculator-container button{
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0 5px;
    height: 50px;
    min-width: 200px;
    max-width: 300px;
    background-color: #FFF;
    border: 1px solid rgb(216, 216, 216);
    color: rgb(37, 37, 37);
    margin: 5px 0;
}



.calculator-container button:hover {
    border: 1px solid rgb(194, 62, 62);
}






footer {
    height: 50px;
    width: 100%;
    background: rgb(180, 16, 16);
    border-top: 1px solid black;
}

footer p{
    color: white;
    font-size: 1.8rem;
    font-synthesis: 2.4rem;
    text-align: center;
    padding-top: 12px;
}

