* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    max-width: 1250px;
    margin: 0 auto;
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
    background-image: url(19333449.jpg);
    background-size: cover;
}

.header {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 15px;
    background-color: rgb(55, 96, 230);
    text-align: center;
}

.header__title{
    padding: 20px 15px;
    font-size: 2.6rem;
    font-weight: bold;
    line-height: 2.8rem;
    color: rgb(231, 236, 253);
}

.header__subtitle{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: rgb(231, 236, 253);
    padding: 0 15px;
    background-color: rgb(55, 96, 180);
}

body{
    border-radius: 5px solid black;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: rgb(231, 236, 253);
}

.main__descount-title{
    font-size: 1.8rem;
    font-weight: 700;
    margin: 15px 15px;
    max-width: 350px;
}

.main__descount-container{
    min-width: 240px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    margin: 15px;
    border: 1px solid black;
    border-radius: 5px;
    gap: 12px;
    background-color: rgb(55, 96, 230);
}

.main__descount .main__descount-container label{
    font-size: 1.5rem;
    min-width: 210px;
    max-width: 320px;
    margin: 0 15px;
    font-weight: 700;
    line-height: 1.7rem;
    padding-top: 15px;
    color: rgb(231, 236, 253);
}

.main__descount-container input{
    min-width: 210px;
    max-width: 320px;
    padding: 7px 5px;
    border: 1px solid rgb(88, 88, 88);
    border-radius: 4px;
    margin: 0 15px;
    background-color: rgb(231, 236, 253);
}


.main__descount-container button{
    font-size: 1.6rem;
    font-weight: 500;
    color: black;
    min-width: 210px;
    max-width: 320px;
    padding: 15px 5px;
    margin: 2px 15px;
    margin-top: 15px;
    /* background-color: rgb(231, 236, 253); */
    background-color: rgb(31, 31, 128);
    color: rgb(231, 236, 253);
    
    border: none;
    box-shadow: 0 4px 8px 0 rgba(88, 88, 88, 0.16);
}

.main__descount-container p{
    padding: 15px 0;
    margin: 0 15px;
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-weight: 700;
    color: rgb(231, 236, 253);
}

footer {
    height: 50px;
    width: 100%;
    background: rgb(55, 96, 230);
}

footer p{
    color: white;
    font-size: 1.8rem;
    font-synthesis: 2.4rem;
    text-align: center;
    padding-top: 12px;
}

.main__comodin{
    height: 500px;
    width: 100%;
    background-image: url("https://www.clarin.com/img/2020/12/17/el-contador-pone-en-orden___uUAdm0S_9_1200x630__1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}